@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;

}
body{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'poppins' sans-serif;

}
::before,::after{
    box-sizing: border-box;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: black;
     
    
    
    opacity: 1;
    padding: 0 30px;
   
  }
  .main-content{
    padding-left: 270px;
  }
  .padd-15{
    padding: 15px;
    padding-right: 15px;
  }
  .contain{
    max-width: 1100px;
    width: 100%;
   
    margin:  auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
  }
.side{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    padding: 30px;
    top: 0;
    z-index: 10;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}
/*small squre*/
.side .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background:var(--bg-black-100) ;
    display: none;
    align-items: center;
    justify-content: center;

}
.side .nav-toggler span{
    height: 2px;
    width: 18px;
    background:var(--skin-color);
    display: inline-block;
    position: relative;
}
.side .nav-toggler span::before{
    content:'';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;

}
.side .nav-toggler span::after{
    content:'';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;

}
ul{
    list-style: none;
}
.side .logo{
    position: absolute;
    top: 50px;
    font-size:30px ;
    text-transform: capitalize;
}
.side .logo a{
    color: var(--text-black-900);
    font-weight: 700;
    
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relatives;

}
.side .logo a span{
    font-family: 'clicker Script',cursive;
    font-size: 40px;
}
/*for l shape around name*/
.side .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;

}
.side .logo a::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;

}
.side .nav{
    margin-top: 50px;
}
.side .nav li{
    margin-bottom: 20px;
    display: block;
}
.side .nav li a{
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid var(--bg-black-50);
    display: block;
    color: var(--text-black-900);
    padding:5px 15px;
    
}
.side .nav li a.active{
    color: var(--skin-color);

}
.side .nav li a i{
    margin-right: 15px;

}

/*home part*/
.home .home-img img{
    height: 400px;
    margin: auto;
    border-radius: 5px;
   
}
.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    
    position: relative;
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker Script' ,cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
    color: var(--skin-color);

}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);

}
.home .home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    right: 20px;
    bottom: -40px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);

}
.home .home-img::before{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    left: -20px;
    top: -40px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);

}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    background: var(--skin-color);
    
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space:nowrap;
    border: none;
    transition: all 0.3s ease;

}
.btn:hover{
    transform: scale(1.05);

}



