*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;

}
body{
    color: black;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 600;
}
.Navigationbar a{
    display: inline-block;
    font-size: 25px;
    color: red;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.Navigationbar a:hover{
    color: #BA22A8;
}
.home{
    position: relative;
    width:100%;
    justify-content: space-between;
    height: 100vh;
    background: url(C:\Users\new\Desktop\My_Projects\Portfolio.jpg)no-repeat;

    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}